<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416263953272-9um3api26pf8nfqtnuo4thhedqvo44n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416263953272-9um3api26pf8nfqtnuo4thhedqvo44n6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>416263953272-cv9pdf72un35efrc7gv0oda5sh27sht6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlRPvHndHAbZe27kKeFj8KiXWY-QONGcg</string>
	<key>GCM_SENDER_ID</key>
	<string>416263953272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jetPalz</string>
	<key>PROJECT_ID</key>
	<string>jetpalz</string>
	<key>STORAGE_BUCKET</key>
	<string>jetpalz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416263953272:ios:efde9f791ee457d916c68d</string>
</dict>
</plist>